<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
</head>




<div class="row">
    <div class="col-md-6 col-md-offset-3">
	<div class="section-title text-center">
	    <h1>Forecast Result of <%= @ic_object %> </h1>
	    <h4>Hindcast Period: <%= @sdy %> to <%= @edy %> | Forecast Year: <%= @ic_year %>-<%=@ic_month%></h4>
	    <h4>Forecast Months: <%= @fmonths %> </h4>
	    <h4>debug: <%= @debug %> </h4>
	</div>
    </div>
</div>

<!-- Page Title end -->

<div class="wrapper">
    <div class="course-box shop-wrapper">


	<% @fin_output.each_with_index do |final,i|  %> 

	    <% img_count = 12/@fin_output.size %>

	    <% final[:cp].each do |cp|  %> 

		<% cp_name = cp.split("/")[-1] %>

		<div class="col-md-<%=img_count%>">
		    <div class="course-box shop-wrapper">
			<div class="image-wrap2 entry">

			    <table align=center>
				<tr>
				    <td align=center>
					<h4><%= final[:method_full_name] %></h4>
					<h5>Probability Forecast</h5>

					<div id="map<%=i%>" style="width: 300px; height: 200px;"></div>

				    </td>
				</tr>

			    </table>

			    <script>

				var mymap<%=i%> = L.map(<%="map#{i}"%>).setView([<%=@clat%>,<%=@clon%>], <%=(@elon-@slon)/2 %>);

L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
    maxZoom: 8,
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
    '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
    'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1
}).addTo(mymap<%=i%>);


var imageUrl = "<%= root_url + @download_dir+ "/" + cp_name %>",
    imageBounds = [[<%=@slat%>, <%=@slon%>], [<%=@elat%>, <%=@elon%>]];
L.imageOverlay(imageUrl, imageBounds).setOpacity(0.8).addTo(mymap<%=i%>);

var popup = L.popup();

function onMapClick(e) {
    popup
	.setLatLng(e.latlng)
	.setContent(e.latlng.toString() + "<a href='/forecast/probpoint?lat="+ e.latlng.lat + "&amp;lon=" + e.latlng.lng + "&amp;info=<%= @output_dir.to_s %>&amp;method=<%= final[:method] %>'> View Detail </a>")
	.openOn(mymap<%=i%>);
}

mymap<%=i%>.on('click', onMapClick);

			    </script>
			</div>
			<!-- end image-wrap -->
			<div class="course-details shop-box text-center">
			    <h5><%= link_to "Download Image", root_url + @download_dir + final[:method] +"_PROB_final_rotate.png" ,  target: :_blank  %></h5>
			</div><!-- end details -->
		    </div><!-- end box -->
		</div><!-- end col -->
	    <% end %><!-- final[:cp].each_with_index -->


	    <% ################ Probabilities forecast session ################################ %>
	    <% ################ end Probabilities forecast session ################################ %>




	<% end %> <!-- # @all_output  --> 

    </div> <!-- class="wrapper" -->
</div> <!-- class="course-box shop-wrapper" -->


<div class="col-md-12">
    <div class="course-details shop-box text-center">
	<div class="p-3 mb-2 bg-info text-white">

	</div>
    </div>
</div>


<div class="col-md-4">
    <div class="course-box shop-wrapper">
	<div class="image-wrap2 entry">

	    <div class="course-details shop-box text-center">
		<%= link_to (image_tag  root_url + "images/anom.png", class: "img-responsive", title: "Anomaly"), action: "anomaly", dir: @download_dir, fmonths: @fmonths,  target: :_blank  %>
		<h4><%= link_to "Anomaly", action: "anomaly", dir: @download_dir, fmonths: @fmonths %></h4>

	    </div>
	</div>
    </div>
</div>

<div class="col-md-4">
    <div class="course-box shop-wrapper">
	<div class="image-wrap2 entry">

	    <div class="course-details shop-box text-center">

		<%= link_to (image_tag  root_url + "images/dept.png", class: "img-responsive", title: "Departure"), action: "departure", dir: @download_dir, fmonths: @fmonths,  target: :_blank  %>
		<h4><%= link_to "Departure", action: "departure",dir: @download_dir , fmonths: @fmonths , fin_output: @fin_output %></h4>

	    </div>
	</div>
    </div>
</div>


<div class="col-md-4">
    <div class="course-box shop-wrapper">
	<div class="image-wrap2 entry">

	    <div class="course-details shop-box text-center">

		<%= link_to (image_tag  root_url + "images/corr.png", class: "img-responsive", title: "Correlation"), action: "corr", dir: @download_dir, fmonths: @fmonths,  target: :_blank  %>
		<h4><%= link_to "Correlation", action: "corr", dir: @download_dir , fmonths: @fmonths , fin_output: @fin_output %></h4>

	    </div>
	</div>
    </div>
</div>


<%########################################################################################################%>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
	<div class="section-title text-center">
	</div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
	<div class="section-title text-center">
	    <h3>Verification of the Forecast</h3>
	</div>
    </div>
</div>

<div class="col-md-3">
    <div class="course-box shop-wrapper">
	<div class="image-wrap2 entry">
	    <div class="course-details shop-box text-center">

		<%= link_to (image_tag  root_url + "images/clim.png", class: "img-responsive", title: "Climatology"), action: "climatology",  dir: @download_dir, models: @models, methods: @methods, fmonths: @fmonths, target: :_blank  %>
		<h4><%= link_to "Climatology", action: "climatology", dir: @download_dir, models: @models, methods: @methods, fmonths: @fmonths %></h4>

	    </div>
	</div>
    </div>
</div>


<div class="col-md-3">
    <div class="course-box shop-wrapper">
	<div class="image-wrap2 entry">
	    <div class="course-details shop-box text-center">

		<%= link_to (image_tag  root_url + "images/acc.png", class: "img-responsive", title: "Anomaly Correlation Coefficient"), action: "acc", dir: @download_dir, models: @models, methods: @methods, fmonths: @fmonths, target: :_blank  %>
		<h4><%= link_to "Anomaly Correlation", action: "acc", dir: @download_dir, models: @models, methods: @methods, fmonths: @fmonths %></h4>

	    </div>
	</div>
    </div>
</div>

<div class="col-md-3">
    <div class="course-box shop-wrapper">
	<div class="image-wrap2 entry">
	    <div class="course-details shop-box text-center">

		<%= link_to (image_tag  root_url + "images/sd.png", class: "img-responsive", title: "Standard Deviation"), action: "sd", dir: @download_dir, models: @models, methods: @methods, fmonths: @fmonths,  target: :_blank  %>

		<h4><%= link_to "Standard Deviation", action: "sd", dir: @download_dir, models: @models, methods: @methods, fmonths: @fmonths %></h4>

	    </div>
	</div>
    </div>
</div>


<div class="col-md-3">
    <div class="course-box shop-wrapper">
	<div class="image-wrap2 entry">
	    <div class="course-details shop-box text-center">

		<%= link_to (image_tag  root_url + "images/rmse.png", class: "img-responsive", title: "Root Mean Square Error"), action: "rmse",  dir: @download_dir, models: @models, methods: @methods, fmonths: @fmonths, target: :_blank %>
		<h4><%= link_to "Root Mean Square Error", action: "rmse", dir: @download_dir, models: @models, methods: @methods, fmonths: @fmonths %></h4>

	    </div>
	</div>
    </div>
</div>

<!-- ######################### end css layout ##################### -->


<table class=table >

    <tr>

	<td align=right ><%= p "File Name : " %></td>

	<td align=left ><%= link_to "Params.txt", root_url + @download_dir + "params.txt" %></td>

    </tr>

</table>


