<!-- Benchmark -->
<table class=table >
    <tr>
	<% @py_cmd_output.each do |info| %> 
	<td align = center><%= info[:file] %><br/><%= info[:time] %> s</td>
    <%end%>
    <td align = center><%= "Plot Maps" %><br/><%= @plot_time %> s</td>
    <td align = center><%= "Total" %><br/><%= @total_analysis_time %> s</td>
    </tr>
</table>

<!-- Benchmark end -->

<div class="wrapper">
    <div class="course-box shop-wrapper">


	<table class = table >

	    <tr>
		<td align=center colspan=4 >
		    <h1>Forecast Result of <%= current_user.country %></h1>
		</td>
	    </tr>
	    <% @all_output.each do |final|  %> 


		<tr>
		    <td align=center colspan=4 ><%= final[:method]  %></td>

		</tr>
		<tr>

		    <% final[:png].each do |png|  %> 

			<% png_name =  png.split("/")[-1] %>
			<td align=center><%= link_to (image_tag  root_url + @download_dir + png_name), root_url + @download_dir + png_name,  target: :_blank  %></td>
		    <% end %><!-- @final_png -->

		</tr>



		<tr>
		    <% final[:nc].each do |nc|  %> 
			<% file_name =  nc.split("/")[-1] %>

			<td align=center colspan=2 ><%=file_name[0...-3]%><br/><%= link_to "Download NC", root_url + @download_dir + file_name %></td>
		    <% end %><!-- final[:nc_file] -->

		</tr>


	    <% end %><!-- @final_output -->

	</table>
    </div>
</div>


<table class=table >

    <tr>

	<td align=right ><%= p "File Name : " %></td>

	<td align=left ><%= link_to "Params.txt", root_url + @download_dir + "params.txt" %></td>

    </tr>

</table>


