<%= form_with(model: user, local: true) do |form| %>
    <% if user.errors.any? %>
	<div id="error_explanation">
	    <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

	    <ul>
		<% user.errors.full_messages.each do |message| %>
		    <li><%= message %></li>
		<% end %>
	    </ul>
	</div>
    <% end %>

    <table>

	<tr>
	    <td>
		Name:
	    </td>
	    <td>
		<%= form.text_field :name %>
	    </td>
	</tr>

	<tr>
	    <td>
		Email:
	    </td>
	    <td>
		<%= form.text_field :email %>
	    </td>
	</tr>

	<tr>
	    <td>
		Country:
	    </td>
	    <td>
		<%= form.text_field :country %>
	    </td>
	</tr>

	<tr>
	    <td>
		Organization:
	    </td>
	    <td>
		<%= form.text_field :org %>
	    </td>
	</tr>

	<tr>
	    <td>
		Role:
	    </td>
	    <td>
		<%= form.select :remark1, User::ROLES %>
	    </td>
	</tr>

	<tr>
	    <td colspan=2 align=center>
      <%= form.submit %>
	    </td>
	</tr>



    </table>

<% end %>
