<% if can? :manage, :all %>

<h1>Users Management</h1>

<br>

<table class=table>
    <tr align=center>
	<td>
	    <%= button_to 'New User', new_user_path, method: :get %>
	</td>
	<td>
	    <%= button_to 'Home Page', welcome_home_path, method: :get %>
	</td>
    </tr>
</table>

<br>

<p id="notice"><%= notice %></p>

<table class=table>
    <thead>
	<tr>
	    <th>ID</th>
	    <th>Name</th>
	    <th>Count</th>
	    <th colspan="3"></th>
	</tr>
    </thead>

    <tbody>
	<% @users.each do |user| %>
	    <tr>
		<td><%= user.id %></td>
		<td><%= user.name %></td>
		<td><%= user.sign_in_count %></td>
		<% if can? :manage, :all%>
		<td><%= link_to 'Show', user %></td>
		<td><%= link_to 'Edit', edit_user_path(user) %></td>
		<td><%= link_to 'Del', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	    <% end %>
	    </tr>
	<% end %>
    </tbody>
</table>

<br>

<table class=table>
    <tr align=center>
	
	<td>
	    <%= button_to 'New User', new_user_path, method: :get %>
	</td>
	<td>
	    <%= button_to 'Home Page', welcome_home_path, method: :get %>
	</td>
    </tr>
</table>


	<%#= @users.pluck(:email) %>

    <% else %>

	<h1>Sorry, the page cannot be found ! </h1>

    <% end %>
