<!--country based-->
<section class="section gb nopadtop">

    <div class="container">

	<div class="boxed boxedp4">

	    <div id="map_idle"></div>

	    <div class="row contactv2 text-center">


		<div class="row">
		    <div class="col-md-12">
			<div class="section-title text-center">
			    <h3>Multi-model Ensemble Climate Prediction for <%= current_user.country%> Domain </h3>
			    <p>Please fill the form below, to generate forecast data</p>
			</div><!-- end title -->

			<%= form_tag({controller: "forecast", action: "result" }, method: :post) do %>

			    <%######### Step.1 Select Initial Conditions ####################################%>
			    <table class="table">
				<tr>
				    <td align=left>
					<h4>Select Forecast Year</h4>
				    </td>

				    <td align=left>
					Parameter:
					<%= select_tag :ic_object, options_for_select(["Precipitation","Temperture"], ["Precipitation"]), required: true %>
					Year:
					<%= select_tag :ic_year, options_for_select(@ic_year, @ic_year.first), required: true %>

					Month:
					<%= select_tag :ic_month, options_for_select(@ic_month), prompt: "-Select-", id: "ic_month", title: "Normally select current month here.", required: true  %>
				    </td>
				</tr>

				<tr> 
				    <td align=left>
					<h4>Select Forecast Month</h4>
				    </td>

				    <td align=left>
					Forecast Months: <%= select_tag :sfm, options_for_select(@initial_sfm), prompt: "-Select-", id: "sfm", required: true %> 
				    ----- 
				    <%= select_tag :efm, options_for_select(@initial_sfm), prompt: "-Select- ", id: "efm", required: true %>
				    <br>
				    <small>* Please check the forecast months selection carefully !</small> <br>
				    </td>
				</tr>

				<%###################################################################%>
				<%######### Step.2 Select Models ####################################%>

				<tr>
				    <td align=left>
					<h4>Select Model Datasets</h4> 
				    </td>

				    <td align=left>
					<small>*** Please select at least two models ! ***</small>

					<table class=models_select>
					    <% @model_name.each_slice(3) do |model| %>
						<tr>
						    <% model.each do |m| %>
							<td align=left>
							    <%= check_box_tag 'models[]', m.name, checked: true, required: true %>
							    <%= m.name %>
							</td>
							<% end # model.each do |m| %>
							    <!-- %# model.each do |m| % -->
						</tr>

					    <% end %>
					    <%  # @model_name.each_slice(3) do |model| %>
					    </table>
				    </td>
				</tr>


				<%###################################################################%>
				<%######### Step.3 Select Observation Data #########################%>

				<tr>
				    <td align=left >
					<h4>Select Predictand Dataset</h4> 
				    </td>

				    <td align=left >
					<%= select_tag :obs_data, options_for_select(@obs_name.map {|obs|obs.name}), required: true %>
					<small>* Observation datasets</small>
				    </td>

				</tr>


				<%###################################################################%>
				<%###### Step.4 Select Years of Model Data & Observation Data #######%>

				<tr>
				    <td align=left>
					<h4>Select Hindcast Period</h4> 
				    </td>

				    <td align=left>
					<%= select_tag :sdy, options_for_select(@year_range, @year_range.begin), required: true %> 
					--- 
					<%= select_tag :edy, options_for_select(@year_range, @year_range.end), required: true %>
				    </td>

				</tr>



				<%###################################################################%>

				<%####### Step.5 Select Forecast Methods ######%>

				<tr>
				    <td align=left>
					<h4>Select Forecast Methods</h4> 
				    </td>

				    <td align=left>
					<% Fmethod.select(:id,:name,:remark2).each do |method| %>
					    <text title="<%= method.remark2 %>" >
					    <%= check_box_tag 'method_ids[]', method.id, checked: true %>
					    <%= method.remark2 %>
					    </text>
					    <br>
					<%end%>
				    </td>

				</tr>

				<%######################################################%>


				<tr>

				    <td align=center></td>
				    <td align=left>
					<%= submit_tag "Check Models", class: "submit", :data => { :disable_with => 'System is checking datasets now, Please wait ...' } %>
					<%= submit_tag "Submit & Analyze", class: "submit", :data => { :disable_with => 'System is processing datasets now, Please wait ...' } %>
				    </td>
				</tr>
			    </table>

			<% end %>

		    </div><!-- end col -->
		</div><!-- end row -->
	    </div> <!-- class="row contactv2 text-center" -->
	</div><!-- end container -->
    </div>
</section>


<script src="/js/jquery.min.js"></script>
<script src="/js/leaflet.js"></script>
<script src="/js/leaflet-areaselect.js"></script>
<script>
    // initialize map
    var map = L.map('map').setView([<%= @c_lat %>, <%= @c_lon %>], 3);
L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);
$(window).on("resize", function() {
    $("#map").height($(window).height()*0.5).width($(window).width()*0.8);
    map.invalidateSize();
}).trigger("resize");
var areaSelect = L.areaSelect({width:150, height:150});
areaSelect.on("change", function() {
    var bounds = this.getBounds();
    $("#result .slat").val(bounds.getSouthWest().lat.toFixed(3));
    $("#result .elat").val(bounds.getNorthEast().lat.toFixed(3));
    $("#result .slon").val(bounds.getSouthWest().lng.toFixed(3));
    $("#result .elon").val(bounds.getNorthEast().lng.toFixed(3));
});
areaSelect.addTo(map);
</script>

