<!-- Benchmark -->
<%= @modellower %>
<table class=table >
    <tr>
	<% @py_cmd_output.each do |info| %> 
	<td align = center><%= info[:file] rescue nil %><br/><%= info[:time] rescue nil %></td>
    <%end%>
    <td align = center><%= "Plot Maps" %><br/><%= @plot_time rescue nil %></td>
    <td align = center><%= "Total" %><br/><%= @total_analysis_time rescue nil %></td>
    </tr>
</table>

<!-- Benchmark end -->

<div class="row">
    <div class="col-md-6 col-md-offset-3">
	<div class="section-title text-center">
	    <h1>Verification Result of Multi-model Ensemble Forecast</h1>
	    <h4>Hindcast Period: <%= @sdy %> -- <%= @edy %> </h4>
	</div>
    </div>
</div>

<!-- Page Title end -->

<% @all_output.each do |final|  %> 
    <div class="wrapper">
	<div class="course-box shop-wrapper">

	    <div class="row">
		<div class="col-md-6 col-md-offset-3">
		    <div class="section-title text-center">
			<h3><%= final[:method_full_name] %> Verification</h3>
		    </div>
		</div>
	    </div>

	    <% final[:png].each do |png|  %> 
		<% png_name =  png.split("/")[-1] %>
		<% if img_count = final[:png].size < 5  %>
		<% md_count = 12/final[:png].size  %>
	        <% else %>
		<% md_count = 3  %>
		<% end %>

		<div class=<%= "col-md-#{md_count}"%> "rocimgdiv">
		    <div class="course-box shop-wrapper">
			<div class="image-wrap entry">
			    <%= link_to (image_tag  root_url + @download_dir + png_name, class: "img-responsive"), root_url + @download_dir + png_name,  target: :_blank  %>
			</div>
			<!-- end image-wrap -->
			<div class="course-details shop-box text-center">
			    <h4>
				<%= link_to "#{png_name[0..-5]}", root_url + @download_dir + png_name,  target: :_blank  %>
			    </h4>
			</div><!-- end details -->
		    </div><!-- end box -->
		</div><!-- end col -->

	    <% end %><!-- @final_png -->

	    <% final[:nc].each do |nc|  %> 
		<% file_name =  nc.split("/")[-1] %>
		<% file_title = file_name[0...-3].split("_")[0..1].join("-") %>

		<div class="col-md-12">
		    <div class="course-details shop-box text-center">
			<div class="p-3 mb-2 bg-info text-white">

			    <%= file_title %><br/><%= link_to "Download NC", root_url + @download_dir + file_name %>

			</div>
		    </div><!-- end box -->
		</div><!-- end col -->

	    <% end %><!-- @final_nc_file -->


	</div> <!-- class="wrapper" -->
    </div> <!-- class="course-box shop-wrapper" -->

<% end %> <!-- # @all_output  --> 

<!-- ######################### end css layout ##################### -->


<table class=table >

    <tr>

	<td align=right ><%= p "File Name : " %></td>

	<td align=left ><%= link_to "Params.txt", root_url + @download_dir + "params_sv.txt" %></td>

    </tr>

</table>


